@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

* {
	font-family: 'Nanum Gothic';
}
h1 {
	font-family: 'Hanna';
}